

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css'>
<link href="/Content/slides/css/style.css" rel="stylesheet" />
<link href="/Content/slides/main.css" rel="stylesheet" />
<link href="/Content/slides/slick.css" rel="stylesheet" />
<link href="/Content/slides/magnific-popup.min.css" rel="stylesheet" />
<style>
    .gallery {
        padding-bottom: 140px;
        margin: 20px 20px 40px;
        background: #CCC;
        position: relative;
    }

    .prev-next-button {
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        transform: translateY(-50%);
    }

    .previous {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .prev-next-button svg {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }

    .arrow {
        fill: #333;
    }


    /* smaller, dark, rounded square */

    .gallery2 {
        margin-left: 40px;
        margin-right: 40px;
    }

        .gallery2 .prev-next-button {
            width: 40px;
            height: 40px;
            background: #333;
            border-radius: 5px;
        }

            .gallery2 .prev-next-button.previous {
                left: -20px;
            }

            .gallery2 .prev-next-button.next {
                right: -20px;
            }

        .gallery2 .arrow {
            fill: white;
        }

    /* large, just arrow */

    .gallery3 {
        margin-left: 70px;
        margin-right: 70px;
    }

        .gallery3 .prev-next-button {
            width: 80px;
            height: 80px;
            background: transparent;
        }

            .gallery3 .prev-next-button.previous {
                left: -80px;
            }

            .gallery3 .prev-next-button.next {
                right: -80px;
            }

        .gallery3 .arrow {
            fill: #D00;
        }
</style>
<div class="container body-content">

    <div class="  main-preview--carousel-wrapp ">



        <div class="slider slider-nav   " style="float:left;width:120px; height:auto">
            @*<p class="left">left</p>*@
            <div class="item"> <img src="~/Content/images-slide/large/img1.jpg" style="height:auto; width:102px; margin-top:15px"> </div>
            <div class="item"> <img src="~/Content/images-slide/large/img2.jpg" style="height:auto; width:102px;margin-top:15px"></div>
            <div class="item"> <img src="~/Content/images-slide/large/img3.png" style="height:auto; width:102px;margin-top:15px"> </div>
            <div class="item"> <img src="~/Content/images-slide/large/img4.jpg" style="height:auto; width:102px;margin-top:15px"> </div>
            <div class="item"> <img src="~/Content/images-slide/large/img5.jpg" style="height:auto; width:102px; margin-top:15px"> </div>
            @*<p class="right">right</p>*@
        </div>
        <div class="slider slider-for    " style="float:left; margin-right: 150px;width:500px; height:auto; padding:20px">
            <div class="item"> <a href="/Content/images-slide/large/img1.jpg"> <img src="~/Content/images-slide/large/img1.jpg" style="height:auto; width:400px;"> </a></div>
            <div class="item"><a href="~/Content/images-slide/large/img2.jpg"> <img src="~/Content/images-slide/large/img2.jpg" style="height:auto; width:400px;"> </a></div>
            <div class="item"><a href="/Content/images-slide/large/img3.png"> <img src="~/Content/images-slide/large/img3.png" style="height:auto; width:400px;"> </a></div>
            <div class="item"><a href="/Content/images-slide/large/img4.jpg"> <img src="~/Content/images-slide/large/img4.jpg" style="height:auto; width:400px;"> </a></div>
            <div class="item"><a href="/Content/images-slide/large/img5.jpg"> <img src="~/Content/images-slide/large/img5.jpg" style="height:auto; width:400px;"> </a></div>
        </div>


    </div>

</div>

<script src="/Content/slides/Plugins.min.js"></script>
<script>
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: false,
        focusOnSelect: true,
        arrows: true,
        vertical: true,

        //prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>',
        //nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>',
    });

    $('a[data-slide]').click(function (e) {
        e.preventDefault();
        var slideno = $(this).data('slide');
        $('.slider-nav').slick('slickGoTo', slideno - 1);
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 5,
                }
            },
            {
                breakpoint: 769,
                settings: {
                    slidesToShow: 4,
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 3,
                }
            }
        ]
    });


    $(document).ready(function () {
        $('.slider').slick({
            autoplay: true,
            arrows: true,
            prevArrow: "<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
            nextArrow: "<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>"
        });
    });



</script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js'></script>


<script src="~/Content/js/index.js"></script>
