
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/package/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>

    


        <h2>Index</h2>



        <link href="/Content/slides/bootstrap.min.css" rel="stylesheet" />



        <link href="/Content/slides/main.css" rel="stylesheet" />
        <link href="/Content/slides/slick.css" rel="stylesheet" />
        <link href="/Content/slides/magnific-popup.min.css" rel="stylesheet" />


     
                    <!-- carousel -->
                    <div class="col-md-8">
                        <div class="main-preview--carousel-wrapp">
                            <!-- big carousel -->
                            <div class="carousel-big rounded slick-initialized slick-slider">

                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1; width: 3080px;" role="listbox">
                                        <div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 770px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="-1" role="option" aria-describedby="slick-slide00">
                                            <a href="~/Content/images-slide/large/img1.jpg" tabindex="0">
                                                <img src="~/Content/images-slide/large/img1.jpg"  class="img-fluid">
                                            </a>
                                            <p class="sown">patripassianist</p>
                                            <span class="bura">neogean effigiated</span>
                                        </div>
                                        <div class="item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 770px; position: relative; left: -770px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1" role="option" aria-describedby="slick-slide01">
                                            <a href="~/Content/images-slide/large/img2.jpg" tabindex="-1">
                                                <img src="~/Content/images-slide/large/img2.jpg" class="img-fluid">
                                            </a>
                                            <p class="sown">patripassianist</p>
                                            <span class="bura">neogean effigiated</span>
                                        </div>
                                        <div class="item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 770px; position: relative; left: -1540px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1" role="option" aria-describedby="slick-slide02">
                                            <a href="~/Content/images-slide/large/img3.png" tabindex="-1">
                                                <img src="~/Content/images-slide/large/img3.png" class="img-fluid">
                                            </a>
                                            <p class="sown">patripassianist</p>
                                            <span class="bura">neogean effigiated</span>
                                        </div>
                                        <div class="item slick-slide" data-slick-index="3" aria-hidden="true" style="width: 770px; position: relative; left: -2310px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1" role="option" aria-describedby="slick-slide03">
                                            <a href="~/Content/images-slide/large/img4.jpg" tabindex="-1">
                                                <img src="~/Content/images-slide/large/img4.jpg"  class="img-fluid">
                                            </a>
                                            <p class="sown">patripassianist</p>
                                            <span class="bura">neogean effigiated</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- carousel thumbs -->
                           
                            <div class="carousel-thumbs slick-initialized slick-slider">
                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1; width: 400px; transform: translate3d(0px, 0px, 0px);" role="listbox">
                                        <div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 100px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
                                            <img src="~/Content/images-slide/large/img1.jpg" class="img-fluid rounded">
                                        </div>
                                        <div class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 100px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
                                            <img src="~/Content/images-slide/large/img2.jpg"  class="img-fluid rounded">
                                        </div>
                                        <div class="item slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 100px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
                                            <img src="~/Content/images-slide/large/img3.png"  class="img-fluid rounded">
                                        </div>
                                        <div class="item slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 100px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
                                            <img src="~/Content/images-slide/large/img4.jpg" class="img-fluid rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
       
   






    <script src="/Content/slides/Plugins.min.js"></script>
    <script>
        if (jQuery('.main-preview--carousel-wrapp').width() > 0) {
            jQuery('.carousel-big').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                fade: true,
                infinite: false,
                arrows: false,
                asNavFor: '.carousel-thumbs',
            });
            jQuery('.carousel-thumbs').slick({
                slidesToShow: 8,
                slidesToScroll: 1,
                asNavFor: '.carousel-big',
                arrows: true,
                focusOnSelect: true,
                infinite: false,
                prevArrow: '<button type="button" class="slick-arrow slick-prev"> < </button>',
                nextArrow: '<button type="button" class="slick-arrow slick-next"> > </button>',
                responsive: [
                    {
                        breakpoint: 1025,
                        settings: {
                            slidesToShow: 5,
                        }
                    },
                    {
                        breakpoint: 769,
                        settings: {
                            slidesToShow: 4,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 3,
                        }
                    }
                ]
            });


            var thumbs = jQuery('.carousel-thumbs .slick-slide').length - 1;
            jQuery('.carousel-thumbs .slick-prev').hide();
            jQuery('.carousel-thumbs').on('afterChange', function (event, slick, currentSlide, nextSlide) {
                if (currentSlide >= 0) {
                    jQuery('.carousel-thumbs .slick-prev').show();
                } if (currentSlide <= 0) {
                    jQuery('.carousel-thumbs .slick-prev').hide();
                } if (currentSlide == thumbs) {
                    jQuery('.carousel-thumbs .slick-next').hide();
                } if (currentSlide < thumbs) {
                    jQuery('.carousel-thumbs .slick-next').show();
                }
            });

            //magnific popup
            jQuery('.carousel-big').magnificPopup({
                delegate: 'a',
                type: 'image',
                closeOnContentClick: false,
                closeBtnInside: false,
                mainClass: 'mfp-with-zoom mfp-img-mobile',
                image: {
                    verticalFit: true,
                },
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300, // don't foget to change the duration also in CSS
                    opener: function (element) {
                        return element.find('img');
                    }
                }

            });
        }


    </script>

    <script src="~/Content/js/index.js"></script>



    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>


</body>
</html>
