<div class=" cadre">
    <div class="row ">
        <div class="col-sm-5 texto">
            <h3>Shipement</h3>
            <p>Key information regarding your shipment</p>

        </div>
        <div class="col-sm-2 texto">
            <center>
                <h3>89</h3>
                <p>Total Dilivered</p>
            </center>
        </div>
        <div class="col-sm-2 texto">
            <center>
                <h3>89</h3>
                <p>Total in progress</p>
            </center>
        </div>
        <div class="col-sm-2 texto">
            <center>
                <h3>1499</h3>
                <p>Total Shipement</p>
            </center>
        </div>
    </div>
    <div class="row">

        <!-- Nav tabs --><div class="card ">
            <ul class="nav nav-tabs col-lg-offset-1" role="tablist">
                <li role="presentation" class="active"><a href="#a1" aria-controls="a1" role="tab" data-toggle="tab">Day</a></li>
                <li role="presentation"><a href="#a2" aria-controls="a2" role="tab" data-toggle="tab">Week</a></li>
                <li role="presentation"><a href="#a3" aria-controls="a3" role="tab" data-toggle="tab">Month</a></li>
                <li role="presentation"><a href="#a4" aria-controls="a4" role="tab" data-toggle="tab">Total</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="a1">
                    <h6>Day</h6>
                    <div class="row">
                        <br />
                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-down" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Inbound </div></div>

                            <div class="progress-bar position" data-percent="80" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="20" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>

                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-up" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Outbound </div></div>
                            <div class="progress-bar position" data-percent="60" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="45" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="a2">
                    <h6>Week</h6>
                    <div class="row">
                        <br />
                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-down" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Inbound </div></div>

                            <div class="progress-bar position" data-percent="80" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="20" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>

                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-up" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Outbound </div></div>
                            <div class="progress-bar position" data-percent="60" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="45" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="a3">
                    <h6>Month</h6>
                    <div class="row">
                        <br />
                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-down" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Inbound </div></div>

                            <div class="progress-bar position" data-percent="80" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="20" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>

                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-up" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Outbound </div></div>
                            <div class="progress-bar position" data-percent="60" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="45" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="a4">
                    <h6>Total</h6>
                    <div class="row">
                        <br />
                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-down" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Inbound </div></div>

                            <div class="progress-bar position" data-percent="80" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="20" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>

                        <div class="col-sm-6">

                            <div class="col-lg-offset-2"><i class="fa fa-arrow-circle-up" style="position:absolute; font-size:40px"></i> <div style=" position:absolute; padding-left:50px; padding-top:10px; font-size:18px;font-weight: 550; color:#3c3e4a;">Outbound </div></div>
                            <div class="progress-bar position" data-percent="60" data-color="#c1ddb2,#72c942" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0); color :#72c942"></div>
                            <div class="progress-bar position" data-percent="45" data-color="#edd9af,#e4b34b" style="background-color: transparent; color:black;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);color :#e4b34b"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <center>
            <a style="color:#3c3e4a ;  font-weight: 600; font-size: 24px;" href=""> View all </a>
        </center>
    </div>

</div>
<br />
