
@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

    <link href="~/Content/Dashboard/jquerysctipttop.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/jQuery-plugin-progressbar.css" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <div class="progress-bar position"></div>
            <div class="progress-bar position" data-percent="80"  ></div>
            <div class="progress-bar position" data-percent="20"></div>
            <input type="submit" value="reload">

        </div>
    </div>
            <script src="~/Scripts/jquery-2.1.4.min.js"></script>
            <script src="~/Content/Dashboard/jQuery-plugin-progressbar.js"></script>
            <script>
                $(".progress-bar").loading();
                $('input').on('click', function () {
                    $(".progress-bar").loading();
                });
            </script>
            
